<!-- <breadcrumb #parent> 
  <ol class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <li *ngIf="!route.terminal" class="breadcrumb-item">
        <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      </li>
      <li *ngIf="route.terminal" class="breadcrumb-item active">{{ route.displayName }}</li>
    </ng-template>
  </ol>
</breadcrumb> -->
<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<nav class="navbar navbar-dark bg-dark" *ngIf="authenticationService.loggedIn()">
    <a class="navbar-brand" routerLink="/dashboard">Customer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav ml-auto" >
        <li  class="nav-item pointer">
          <a style="font-size: 15px;" class="nav-link" routerLink="active" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="active" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="active" routerLink="/inquirydata">Inquiry Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/saleorderdata">Sale Order Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listofdelivery">List Of Delivery</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pointer">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form> -->
    </div>
  </nav>
<router-outlet></router-outlet>